# Configuration file

# Server udp port
udp-server-port 5001

# Server tcp port
tcp-server-port 9876

# Client udp AND tcp port, it HAS to be different for each client
source-port 35400

# private (tcp) address
private-address 192.168.2.1
private-mask 24
private-address6 2001:412:abcd:2::
private-mask6 64

# public address (useless)
public-address 1.2.2.4

##########################################################################

# The tun interface name, 
# if you want udptun to create one, leave commented
# if_name

# Timeouts in seconds, -1 for no timeout
inactivity-timeout -1
tcp-send-timeout 5
tcp-receive-timeout 5
initial-sleep 0

# Files locations
client-file /home/ko/Desktop/gits/own/data/tmp.dat
server-file /home/ko/Desktop/gits/own/data/data.dat

##########################################################################

# Buffer
buffer-length 8192

# Server settings
backlog-size 10
fd-lim 512

# TCP settings
tcp-max-segment-size 1432
